<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Region</h2>
  <hr />

  <h5>Select the region</h5>

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regions"
        [class]="setStyle(region)"
        (click)="selectRegion(region)"
      >
        {{ region | titlecase }}
      </button>
    </div>
  </div>

  <hr />
</div>

<div *ngIf="hasError" class="alert alert-danger">
  No results found for <strong> {{ term }} </strong>
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
